#calculator {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  width: 250px;
  height: 500px;
}

#display {
  margin: 10px;
  width: 88%;
  font-size: 25px;
}

.button {
  width: 60px;
  height: 45px;
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
